/* 全局样式 */

html, body, #app {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 1336px;
}

.el-card {
  margin-top: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)!important;
}

.el-table, .el-pagination {
  margin-top: 10px;
}